<header>
  <div class="parallax-container">
    <div class="section center">
      <div class="container center">
        <h1 class="header center teal-text text-lighten-2">RURated</h1>
        <div class="row center">
          <h3 class="header col s12 light">Discover new places at Rutgers</h3>
        </div>
        <div class="row center">
          <a id="place-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger" href="#modal2">Add Place</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../../static/images/jumbotron-placeholder-img.jpg"></div>
  </div>
</header>

<!--Place Modal-->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>New Spot</h4>
    <div class="row">
      <form class="col s12" method="post" action="/addActivity">
        <div class="row">
          <div class="input-field col s6">
            <select name="activityType">
              <option value="" disabled selected>Type of Spot</option>
              <option value="food">Food</option>
              <option value="cafe">Cafe</option>
              <option value="dorm">Dorms</option>
              <option value="other">Other</option>
            </select>
            <label>Type of Spot</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" name="name">
            <label for="last_name">Name of Spot</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select name="foodType">
              <option value="" disabled selected>Type of Food</option>
              <option value="american">american</option>
              <option value="japanese">japanese</option>
              <option value="korean">korean</option>
              <option value="italian">italian</option>
              <option value="indian">indian</option>
              <option value="chinese">chinese</option>
              <option value="filipino">filipino</option>
              <option value="dining hall">dining hall</option>
              <option value="mexican">mexican</option>
              <option value="ethiopian">ethiopian</option>
              <option value="grease truck">grease truck</option>
              <option value="middle-eastern">midle-eastern</option>
            </select>
            <label>Type of Food</label>
          </div>
        </div>
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"><button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button></a>
      </form>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section center">
      <h3>What are you in the mood for?</h3>
    </div>
    <div class="section activity-block center">
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-cutlery fa-5x"></i></div>
        <p class="center-align">Food</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-bed fa-5x"></i></div>
        <p class="center-align">Dorms</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-coffee fa-5x"></i></div>
        <p class="center-align">Cafe</p>  
      </a>
      <a href class="activity-select">
        <div class="activities"><i class="fa fa-futbol-o fa-5x"></i></div>
        <p class="center-align">Sports</p>  
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section center">
      <h3>Latest Buzz</h3>
      <div class="row">
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="section center">
      <h3>Top Spots at RU</h3>
      <div class="row">
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>{{rating}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




