
<pre id="userID" style="display: none">{{userID}}</pre>
<div class="container">
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="title">
        {{#each activity}}
        <h4 id="title">{{ name }}</h4> 
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12 offset-m3">
      <div class="reviews">
      {{#if isAuthenticated}}
        <form method="POST">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="5" name="rating" />
          </p>
          <textarea id="textarea1" class="materialize-textarea" length="500" name="review"></textarea>
          <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-plus"></i>
          </button>
        </form>
      {{/if}}
        <ul>
          {{#each reviews}}
          <li class="review">
            <div class="review-content">
              <h5 class="username-review" data-userid={{UserId}}>{{reviewedBy}}</h5>
              <p name="{{id}}" class="review-text">{{ review }}</p>
              <a class="waves-effect waves-light btn updateBtn" data-id={{id}} data-reviewedby={{UserId}}>Update Review!</a>
              <div class="deleteEdit">
                <i class="fa fa-pencil editBtn"></i>
                <a href=""><i class="material-icons deleteBtn" data-id="{{id}}" data-reviewedby={{UserId}}>close</i></a>
              </div>
              <div class="divider"></div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>